doctype html 
html(lang="en") 
	head
		title=title
	body
		h1=title

		h2 Images and alternative text

		// p: img(src="http://placehold.it/350x150" alt="william")

		// p: img(src="http://placehold.it/350x150" alt="")

		// p: img(src="http://lorempixel.com/400/200/")

		// p: img(src="http://lorempixel.com/400/200/sports")

		// p: img(src="http://lorempixel.com/400/200/sports" alt="file.png")

		// p: img(src="http://lorempixel.com/400/200/sports" alt="file.jpg")



		a(href="page.html"): img(src="http://lorempixel.com/400/200/sports" alt="file.jpg")

		a(href="page.html"): img(src="http://lorempixel.com/400/200/sports")

		a(href="page.html"): img(src="http://lorempixel.com/200/200/sports")

